// -------------------------------------
// ★ List Emails
// -------------------------------------

.emails-content {

    float: left;
    width: 400px;

    ul {
        list-style-type: none;
        padding-left: 10px;
    }

    li {
        cursor: hand;
        cursor: pointer;
        margin: 15px;

        &:after {
            content:"";
            display: inline-block;
            height: 0.5em;
            vertical-align: bottom;
            width: 95%;
            margin-right: -100%;
            border-top: 1px solid @hu-grayLight;
        }
    }

    .container-emails {
        overflow-y: scroll;
    }

    .email-date {
        cursor: auto;
        font-weight: bold;
    }

    .email-item {
        padding: 8px;
    }

    .email-sected {
        background-color: @hu-grayLighter;
    }

    .from-name {
        float: left;
    }

    .subject {
        clear: both;
        padding-bottom: 5px;
        padding-top: 20px;
    }

    .time-ago {
        float: right;
        margin-right: 8px;
    }
}
