// -------------------------------------
// ★ Menu Page
// -------------------------------------

.menu-content {

    background-color: @blueDark;
    box-shadow: 0px 4px 10px @gray;
    color: @white;
    height: 72px;
    margin: auto 0;
    width: 100%;

    .title {
        float: left;
        font-size: @font-size-large;
        font-weight: bold;
        min-width: 200px;
        padding: 24px 0 0 30px;
    }

    .filters {
        min-width: 250px;
        padding-top: 24px;
    }

    .search {
        float: left;
        margin-right: 15px;
        padding-top: 15px;
        width: 40%;
    }

    .search-input {
        width: 100%;
        height: 36px;
    }

}
