// -------------------------------------
// ★ View Email Page
// -------------------------------------

.email-content {
    color: @black;

    h1 {
    	text-align: center;
    }

    .show-result{
        text-align: center;
    }

}
