// -------------------------------------
// ★ HU Colors
// -------------------------------------

@white: #fff;
@black: #000;

@grayLighter: #f5f5f5;
@grayLight: #e5e5e5;
@gray: #d8d8d8;
@grayDark: #656565;

@blueLight: #40bffb;
@blue: #1a9fca;
@blueDark: #194c75;
@blueDarker: #003966;


// -------------------------------------
// ★ Font
// -------------------------------------

@font-size-base:          14px;
@font-size-large:         ceil((@font-size-base * 1.25)); // ~18px
@font-size-small:         ceil((@font-size-base * 0.85))-1; // ~12px
